body{
    
    background-color: darkslategrey;
}
#d{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    background-color: blueviolet;
}
#d1{
    border: 2px solid black;
    height: 50px;
    width: 75px;
   background-color: cadetblue;
    margin-left: 78px;
}
#d2{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 156px;
    background-color: chartreuse;
}
#d3{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 234px;
    background-color: crimson;
}
#d4{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 312px;
    background-color: darkcyan;
}
#d5{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 390px;
    background-color: darkgoldenrod;
}
#d6{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 468px;
    background-color: darksalmon;
}
#d7{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 546px;
    background-color: darkseagreen;
}
#d8{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 624px;
    background-color: darkslateblue;
}
#d9{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 702px;
    background-color: darkviolet;
}
#d10{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 780px;
    background-color: deeppink;
}
#d11{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 858px;
    background-color:firebrick;
}
#d12{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 936px;
    background-color:forestgreen;
}
#d13{
    border: 2px solid black;
    height: 50px;
    width: 75px;
    margin-left: 1014px;
    background-color:greenyellow;
}